*{margin:0; padding:0; box-sizing:border-box;}

body{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	width:100vw;
	height:100vh;
	flex-direction:column;
}
.start{
	padding:10px 15px;
	font-size:25px;
	background:#ccc;
	border-radius:6px;
	margin:10px 0;
	letter-spacing:2px;
	text-transform:uppercase;
	cursor:pointer;
}

.box {
	width:330px;
	height:450px;
	background:#26322b;
	font-size:8px;
	position:relative;
	/* cursor:none; */
}

.fild, .biom{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-wrap:nowrap;
	width:330px;
	height:450px;
	font-size:8px;
	background-color:transparent;
	pointer-events:none;
}

.col {
	width:30px;
	height:100%;
	margin:0;
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
	/* box-shadow:inset 0 0 1px 1px #555; */
}

i{
	display:block;
	font-size:0;
	line-height:0;
}

.fild i {
	width:28px;
	height:28px;
	margin:1px;
	/* box-shadow:inset 0 0 1px 1px #9da28e; */
	background:rgba(212, 214, 207, 0.1);
	border-radius:45%;
}

.biom i {
	width:28px;
	height:28px;
	margin:1px;
	border-radius:45%;
	pointer-events:auto;
	cursor:pointer;
}

.del{
	animation:delete 0.2s linear 1 forwards;
}

@keyframes delete {
	0%   {width:28px; height:28px; margin:1px;}
	80%  {width:0; height:0; margin:15px;}
	100% {width:0; height:0; margin:0; background:transparent;}
}
/* .box i:nth-child(1){height:10px; width:10px;}
.box i:nth-child(2){height:20px; width:20px;} */

.el1{background:#3c36ff}
.el2{background:#e418e8}
.el3{background:#f12525}
.el4{background:#10b620}
.el5{background:#5ae4e0}
.el6{background:#f3ff12}
