*{margin:0; padding:0; box-sizing:border-box;}

body{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	width:100vw;
	height:100vh;
	flex-direction:column;
	background:#74c692;
}
.start{
	padding:10px 15px;
	font-size:25px;
	background:#eee;
	border-radius:6px;
	margin:10px 0;
	letter-spacing:2px;
	text-transform:uppercase;
	cursor:pointer;
}

.box {
	width:330px;
	height:450px;
	background:#26322b;
	font-size:8px;
	position:relative;
	/* cursor:none; */
}

.fild, .biom{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-wrap:nowrap;
	width:330px;
	height:450px;
	font-size:8px;
	background-color:transparent;
	pointer-events:none;
}

.col {
	width:30px;
	height:100%;
	margin:0;
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
	/* box-shadow:inset 0 0 1px 1px #555; */
}

i{
	display:block;
	font-size:0;
	line-height:0;
	position:relative;
}

.fild i {
	width:28px;
	height:28px;
	margin:1px;
	/* box-shadow:inset 0 0 1px 1px #9da28e; */
	background:rgba(212, 214, 207, 0.1);
	border-radius:45%;
}

.biom i {
	width:28px;
	height:28px;
	margin:1px;
	border-radius:45%;
	pointer-events:auto;
	cursor:pointer;
}




/* анимирование очков */
.del{animation:delete 0.5s linear 1 forwards}
@keyframes delete {
	0%   {width:28px; height:28px; margin:1px;}
	90%  {width:0; height:0; margin:15px;}
	100% {width:0; height:0; margin:0; background:transparent;}
}

.del::before,.del::after{
	position:relative;
	top:-5px;
	display:block;
	width:16px;
	height:16px;
	color:red;
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:1;
	z-index:2;
}
.del::before{
	top:0;
	background:transparent;
	color:#00f;
	font-weight:800;
	font-size:24px;
	line-height:1;
	z-index:5;
}
.del::after{content:'\1F31F'}


.el0{background:transparent}
.el1{background:#3c36ff}
.el2{background:#e418e8}
.el3{background:#f12525}
.el4{background:#10b620}
.el5{background:#5ae4e0}
.el6{background:#f3ff12}
.del.el0::before,.el0::after{content:''}
.del.el1::before{content:'30'}
.del.el2::before{content:'25'}
.del.el3::before{content:'20'}
.del.el4::before{content:'20'}
.del.el5::before{content:'25'}
.del.el6::before{content:'30'}
